* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #EEF2FF;
}

.navigation-background {
    background-color: #CDDEFF;
    padding: 1.5rem;
}

.greetings {
    margin: auto;
    font-size: xx-large;
}